---
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = [
  {
    id: "vote-center-map",
    href: "https://www.latimes.com/projects/2022-california-primary-election-polling-places-voting-center-ballot-drop-boxes/",
    title: "Where to vote in Southern California?",
    tools: "Mapbox, HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "salmon",
    href: "https://www.latimes.com/projects/can-endangered-california-chinook-salmon-be-saved-from-extinction/",
    title: "Can the endangered winter-run Chinook be saved from extinction?",
    tools: "Pandas, QGIS, Illustrator, HTML, CSS, JS",
    workload: "Things I did: Pitching - Data Analysis - Design - Coding",
  },
  {
    id: "ukraine-photos",
    href: "https://www.latimes.com/projects/ukraine-civilians-refugees-russian-invasion/",
    title: "How Ukrainian civilians are bearing the burden of Russian invasion",
    tools: "QGIS, Illustrator, HTML, CSS, JS",
    workload: "Things I did: Pitching - Data Analysis - Design - Coding",
  },
  {
    id: "three-maps-ukraine",
    href: "https://www.latimes.com/projects/russia-ukraine-invasion-maps/",
    title: "Three maps explaining the Russia-Ukraine conflict",
    tools: "Datawrapper",
    workload: "Things I did: Data Analysis - Design",
  },
  {
    id: "tule-fog",
    href: "https://www.latimes.com/projects/return-tule-fog-california-central-valley/",
    title: "The return of California’s tule fog",
    tools: "Illustrator, HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "superbowl",
    href: "https://www.latimes.com/projects/super-bowl-history-los-angeles-hosts/#nt=0000016a-0e43-dffa-a76b-3f6bfa3f0001-showMedia-liI0promoMedium-contentFooter",
    title: "Expect SoFi Stadium to be a regular Super Bowl host",
    tools: "QGIS, Blender, Illustrator, HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "fwy",
    href: "https://www.latimes.com/projects/us-freeway-highway-expansion-black-latino-communities/#nt=0000016a-0e43-dffa-a76b-3f6bfa3f0001-showMedia-liI1promoMedium-contentFooter",
    title: "Freeways force out residents in communities of color — again",
    tools: "QGIS, Figma, Illustrator, HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "boosty",
    href: "https://www.latimes.com/projects/covid-19-vaccine-booster-am-i-eligible/#nt=00000175-c749-da42-a377-ff5f38920001-liA2promoSmall-7030col1-main",
    title: "Is it time for your COVID-19 booster shot?",
    tools: "Illustrator, HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "scott-donation",
    href: "https://www.bloomberg.com/graphics/2021-mackenzie-scott-donations/",
    title: "Here's where MacKenzie Scott Is Donating Her Billions",
    tools: "Python, Figma, HTML, CSS, JS",
    workload: "Things I did: Data Analysis - Design - Coding",
  },
  {
    id: "covid-mobility",
    href: "https://sabrinamochi.github.io/react-us-mobility/",
    title: "Where People Are Moving Again",
    tools: "Python, Figma, HTML, CSS, JS",
    workload: "Things I did: Writing - Data Analysis - Design - Coding",
  },
  {
    id: "pregnancy",
    href: "https://sabrinamochi.github.io/pregnancy-during-the-pandemic/index.html",
    title: "Pregnancy During The Pandemic",
    tools: "Python, Figma, HTML, CSS, JS",
    workload: "Things I did: Interviews - Writing - Data Analysis - Design - Coding",
  },
  {
    id: "nyc-property-3d",
    href: "https://sabrinamochi.github.io/3dnyc-property-price/index.html",
    title: "3D: 2019 NYC Property Price",
    tools: "three.js",
    workload: "Things I did: Writing - Data Analysis - Design - Coding",
  },
  {
    id: "nyc-property-analysis",
    href: "https://sabrinamochi.github.io/3dnyc-property-price/nyc-property-data-analysis.html",
    title: "NYC Property Price and Median Household Income",
    tools: "R",
    workload: "Things I did: Data Analysis",
  },
  {
    id: "maps",
    href: "map_page.html",
    title: "#30DayMapChallenge",
    tools: "QGIS, illustrator, Photoshop",
    workload: "Things I did: Design",
  },
  {
    id: "bpd-fio",
    href: "https://mediainnovation.camd.northeastern.edu/2020/chen/",
    title: "BPD Stop-and-Frisk",
    tools: "HTML, CSS, JS",
    workload: "Things I did: Pitching - Writing - Data Analysis - Design - Coding",
  },
  {
    id: "bpd-fio-analysis",
    href: "https://github.com/sabrinamochi/bpd_fio_data_analysis/blob/master/data-analysis-in-general.ipynb",
    title: "BPD FIO Analysis",
    tools: "Python",
    workload: "Things I did: Writing - Data Analysis",
  },
  {
    id: "covid-hospital",
    href: "https://www.bostonglobe.com/2020/03/26/nation/how-overwhelmed-could-new-england-hospitals-become-explore-maps-different-scenarios/",
    title: "Tracking COVID-19: Hospitals",
    tools: "HTML, CSS, JS",
    workload: "Things I did: Pitching - Design - Coding",
  },
  {
    id: "covid-map",
    href: "https://www.bostonglobe.com/2020/03/05/world/these-maps-track-path-coronavirus/",
    title: "Tracking COVID-19: Map",
    tools: "HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "terrorist",
    href: "https://globalobserver.github.io/projects/terrorist-attacks/index.html",
    title: "US Terrorist Attacks",
    tools: "Python, HTML, CSS, JS",
    workload: "Things I did: Pitching - Data Analysis - Design - Writing - Coding",
  },
  {
    id: "china-media",
    href: "https://sabrinamochi.github.io/chinese-media-pandemic-coverage/",
    title: "How Chinese Media Covered News",
    tools: "Python, HTML, CSS, JS",
    workload: "Things I did: Data Analysis - Design - Writing - Coding",
  },
  {
    id: "hk-survey",
    href: "https://theinitium.com/project/20200820-opinion-hk-citizen-attitude-future/",
    title: "Opinions of HK Citizens",
    tools: "HTML, CSS, JS",
    workload: "Things I did: Coding",
  },
  {
    id: "grave",
    href: "https://below-the-surface.github.io/",
    title: "Forgotten Below the Surface",
    tools: "HTML, CSS, JS",
    workload: "Things I did: Design - Coding",
  },
  {
    id: "boston-needle",
    href: "https://bostonopioid.github.io/discarded-needle/index.html",
    title: "Boston Opioid Crisis",
    tools: "Python, Mapbox, HTML, CSS, JS",
    workload: "Things I did: Pitching - Interview - Data Analysis - Design - Coding",
  },
  {
    id: "kids-learn",
    href: "https://sabrinamochi.github.io/kids/wordgrowth.html",
    title: "Kids' Vocabulary Development",
    tools: "HTML, CSS, JS",
    workload: "Things I did: Writing - Data Analysis - Design - Coding",
  },
];
---

<BaseLayout title="Szu Yu Chen">
  <nav slot="navigator">
    <a class="nav-button" href="/">Szu Yu Chen</a>
    <a
      class="nav-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://drive.google.com/file/d/1UGUBCSX1DWL5rqEEd5HvuKA1IGisl16y/view?usp=sharing"
    >
      Resume
    </a>
    <a
      class="nav-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://medium.com/follow-the-breadcrumbs/tagged/english"
    >
      Blog
    </a>
  </nav>

  <header slot="header">
    <p class="intro intro-up">
      Hi, I'm Szu Yu. I'm a data and graphics journalist at
      <a href="https://www.latimes.com/people/szu-yu-chen/" target="_blank" rel="noopener noreferrer">
        <i>the Los Angeles Times.</i>
      </a>
    </p>

    <h1 class="intro-title">I Report, Design and Code to Explain Stories.</h1>
    <p class="intro intro-down"></p>
  </header>

  <main slot="main">
    <section id="content-grid">
      {projects.map((p) => (
        <div class="project">
          <a target="_blank" rel="noopener noreferrer" id={p.id} href={p.href}></a>

          <div class="work-description">
            <h3>{p.title}</h3>
            <p class="tools">{p.tools}</p>
            <div class="divide"></div>
            <p class="workload">{p.workload}</p>
          </div>
        </div>
      ))}
    </section>
  </main>
</BaseLayout>
